@media only screen and (max-width: 992px) {
    .container {
        max-width: 75%;
    }

    .res-burder {
        display: block;
    }

    div#navMenu {
        position: absolute;
        top: 86px;
        background: white;
        transform: scaleY(0);
        transform-origin: top;
        transition: .5s;
        opacity: 0;
    }

    div#navMenu.active {
        transform: scaleY(1);
        opacity: 1;
    }

    a.nav-item {
        display: block;
        width: 85vw;
        padding: 15px 13px;
    }

    h1.hero-heading {
        font-size: 24px;
        line-height: 24px;
        margin: 12px 0;
    }

    p.hero-content {
        margin-bottom: 11px;
    }

    .serviceRow {
        display: block;
    }

    .serviceContent {
        padding-bottom: 50px;
    }

    .workStationSystem {
        display: none;
    }

    .workSystemContentsWrapper {
        max-width: 100%;
    }

    .workSystemContentsWrapper {
        text-align: center;
    }

    .pricing_row {
        grid-template-columns: auto;
    }

    .pricing.pricing_side--contents {
        padding-bottom: 43px;
        max-width: 63%;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 68%;
    }

    .hero_row {
        padding: 75px 0;
        display: block;
    }

    .hero-image {
        display: none;
    }

    h1.midHeading {
        font-size: 24px;
        line-height: 31px;
    }

    button.watchVideoBtn {
        margin: auto;
        margin-top: 17px;
    }

    .serviceContent {
        text-align: center;
    }

    .services_sub_row {
        text-align: center;
    }


    .countDownRow {
        grid-template-columns: auto auto;
        grid-row-gap: 20px;
        justify-content: space-around;
        text-align: center;
    }

    .projects_description {
        text-align: center;
    }

    .workSystemContentsWrapper {
        text-align: center;
    }

    .pricing.pricing_side--contents {
        text-align: center;
        max-width: unset;
    }


    .pricingCards {
        display: grid;
        grid-template-columns: auto;
        justify-content: center;
        grid-row-gap: 34px;
    }

}

@media screen and (max-width: 576px) {
    .container {
        max-width: 90%;
    }

    .services_sub_row {
        grid-template-columns: auto;
    }


}