/* Work Sans */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h2 {
    font-size: 28px;
}

h2,
h3,
h4 {
    text-transform: uppercase;
    color: #0B2238;
}

h3 {
    font-size: 12px;
}

h4 {
    font-size: 16px;
}

body {
    font-size: 16px;
    line-height: 1.5;
    color: #6a7695;
    font-weight: 400;
    letter-spacing: -0.2px;
    position: relative;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 1110px;
    margin: auto;
    max-width: 95%;
}

nav.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    text-transform: uppercase;
    font-size: 13px;
    text-decoration: none;
    padding: 22px 17px;
    display: inline-block;
    font-family: 'Work Sans', sans-serif !important;
    color: black;
    font-weight: 500;
    transition: color .3s;
}

.navbar a:hover {
    color: #2550de;
}

a.get-a-quote-btn {
    background: #2550de;
    color: white;
    padding: 17px 29px;
    border-radius: 2px;
    transition: .5s;
}

a.get-a-quote-btn:hover {
    background: #0B2238;
    color: white;
}

header.page-header {
    z-index: 50;
    box-shadow: 0px -2px 4px 0px;
}

.line {
    width: 25px;
    height: 2px;
    background: gray;
    margin: 6px 0;
    transition: .3s;
}

div#responsive-btn {
    display: flex;
    align-items: center;
}

.res-burder {
    cursor: pointer;
    margin-left: 10px;
    display: none;
}

.res-burder.active .line:nth-child(2) {
    display: none;
}

.res-burder.active .line.line1 {
    transform: rotate(45deg);
}

.res-burder.active .line.line3 {
    transform: translate(0px, -8px) rotate(-45deg);
}

a.commonBtn {
    background: #2550de;
    padding: 16px 27px;
    display: inline-block;
    color: white;
    font-size: 14px;
    text-decoration: none;
    border-radius: 2px;
    transition: .3s;
}

a.commonBtn:hover {
    background: #0B2238;
}

p.hero-sub-heading {
    font-size: 12px;
    color: red;
    font-weight: 600;
}

h1.hero-heading {
    font-size: 46px;
    line-height: 55px;
    color: #0B2238;
    margin: 15px 0 25px;
    font-weight: 600;
    letter-spacing: -1px;
}

.hero_row {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    padding-top: 139px;
    padding-bottom: 142px;
}

p.hero-content {
    margin-bottom: 30px;
}

img.heroImage {
    width: 100%;
}

section.home_hero {
    background: #f9fafa;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

h1.midHeading {
    color: #0B2238;
    font-size: 36px;
    /* margin: 10px 0; */
    line-height: 44px;
    font-weight: 600;
}

button.watchVideoBtn {
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 20px;
    background: none;
}

button.watchVideoBtn svg {
    font-size: 29px;
    background: #007bff;
    padding: 8px 11px 8px 13px;
    border-radius: 50%;
    color: white;
    transition: .4s;
}

button.watchVideoBtn span {
    padding-left: 5px;
    font-weight: 600;
    font-size: 12px;
    color: rgb(12 12 12 / 92%);
    transition: .4s;
}

button.watchVideoBtn:hover span {
    color: #484646;
}


button.watchVideoBtn:hover svg {
    opacity: .8;
}

.serviceRow {
    display: grid;
    grid-template-columns: 45% auto;
    align-items: center;
    grid-column-gap: 48px;
}

.services_sub_row {
    display: grid;
    grid-template-columns: auto auto;
    grid-row-gap: 34px;
    grid-column-gap: 33px;
}

.single_service svg {
    font-size: 40px;
    color: #007bff;
}

h1.s_service_heading {
    color: #0B2238;
    font-size: 20px;
    margin: 14px 0;
}

h1.midHeading.serviceContentHeading {
    margin: 16px 0;
}

section.service {
    padding: 91px 0;
}

.countDownRow {
    display: grid;
    justify-content: space-between;
    padding-top: 19px;
    grid-template-columns: auto auto auto;
}

.countElement svg {
    font-size: 42px;
    color: #007bff;
}

h2.countNumber {
    margin: 4px 0;
}

img.projectImg {
    width: 92%;
    display: block;
    margin-left: auto;
}

section.home_projects {
    background: #f9fafa;
    padding: 159px 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.page-header {
    background: white;
    width: 100%;
    position: relative;
    transition: 1s;
}

.page-header.sticky {
    position: fixed;
    top: 0;
}

p.workSystemContents {
    padding-top: 19px;
}

a.commonBtn.getStarted {
    margin-top: 24px;
}

.workSystemContentsWrapper {
    max-width: 50%;
    margin-left: auto;
}

.workSystem {
    position: relative;
    padding: 111px 0;
}

.workStationSystem {
    background-image: url(../Assets/device.png);
    background-size: cover;
    background-position: top left;
    background-repeat: no-repeat;
    position: absolute;
    content: '';
    height: 63%;
    top: auto;
    left: -40px;
    width: 48%;
    object-fit: cover;
}

h1.midHeading.pricingHeading {
    padding-top: 15px;
    padding-bottom: 16px;
}

.pricing_row {
    display: grid;
    grid-template-columns: 30% auto;
    grid-column-gap: 25px;
    align-items: center;
}

section.pricing {
    background: #f9fafa;
    padding: 94px 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
}

.pricing.pricingCard {
    background: white;
    padding: 56px 48px;
    box-shadow: 0px 1px 20px 16px #e5e5e570;
    height: fit-content;
    border-radius: 14px;
}

p.plan_sub_heading {
    font-size: 12px;
    font-weight: 600;
    color: #ff3465;
}

span.price_type {
    font-size: 11px;
    color: #ff3465;
    font-weight: 600;
    padding-left: 5px;
}

h1.price {
    font-size: 55px;
    color: #0B2238;
    padding: 7px 0;
}


h4.planType {
    text-transform: none;
}

p.pricing_plan- svg {
    color: #11c511;
    font-size: 14px;
    padding-right: 5px;
}


p.pricing_plan- {
    padding-top: 16px;
}

.pricing_plans {
    padding-top: 10px;
}

.pricingCards {
    display: flex;
    justify-content: space-between;
    grid-column-gap: 37px;
    align-items: center;
}

.sectionUpperContent {
    text-align: center;
}

section.testimonial {
    padding: 146px 0;
}

.testimonialsRow {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 45px;
    margin-top: 53px;
    grid-row-gap: 20px;
}

.singleTestimonial {
    text-align: center;
}

h1.personName {
    color: #0B2238;
    padding-top: 10px;
}

img.testiImage {
    border-radius: 50%;
    padding-top: 16px;
}

p.title {
    color: #0B2238;
    font-weight: 500;
    margin-top: -3px;
}